/* Grid */

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    background-color: rgb(141, 141, 141);

    padding: 20px
    }

image {
    grid-column: 1/2;
    grid-row; 1/1:display: 
    }

h1  {
    grid-column: 2/3;
    grid-row: 1/1;
    z-index: 1;
    }
::backdrop {
    grid-column 2/3:;
    background-color: blueviolet;

    }